<div class="paragraph-intro">
    <h1>URL Condenser</h1>
    <p>Enter your long Url in the box below and click the submit button.</p>
    <p>Your condensed Url will be displayed afterwards for you to copy and use.</p>
</div>

<div class="component-box">
    <app-url-input></app-url-input>
    <app-url-history-display></app-url-history-display>
</div>
<footer>
    <div class="footer-box">
        <p>this app was created with</p>
    </div>
    <div class="footer-box">
        <img class="angular" src="../assets/Angular.png">
        <img class="firebase" src="../assets/firebase.png">
    </div>
</footer>