@font-face {
    font-family: 'dark';
    src: url('../../assets/DarkerGrotesque-Regular.ttf');
}

.input-card-box{
    width: 500px;
    border: 2px solid;
    height: 200px;
    border-radius: 16px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-left: 10px;
    background-color: #504a40;
    color:white;
    font-family: 'dark';
    //using flex box to align items 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    h2{
        font-weight: 300;
    }
    

    .url-input{
        height: 30px;
        width: 75%;
        padding: 7px;
        border-radius: 10px;
        border-style: none;
        margin-bottom: 20px;
        background-color:#B8b2a7;
        color: black;
        font-family: 'dark';
        font-size: 25px;

    }

    .url-submit-btn {
        height: 40px;
        width: 30%;
        border-radius: 10px;
        border: 3px solid #00897b;
        font-size: 25px;
        font-family: 'dark';
        font-weight: 700;
        color:#00897b;
        background-color: transparent;
        //adding flex box to manipulate the text
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

    }
}